<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_head %>

  <body style="font-family: 'Quicksand', sans-serif;">

    <% include ./partials/_header %>

    <div class="container">

      <h2 class="mt-3">Short URL: <a target="_blank" href="/u/<%= shortURL %>"><%= shortURL %></a></h2>
      <h4 class="mt-3">Visited: <%= visited %> <%= (visited === 1) ? 'time' : 'times' %></h4>
      <h4 class="mt-3">Unique Visitors: <%= unique_visitors %></h4>
      <form method="POST" action=<%= `/urls/${shortURL}?_method=PUT` %>>
        <div class="form-group">
          <label for="longURL">Long URL</label>
          <input id="longURL" class="form-control" type="text" name="longURL" value=<%= `${longURL}` %>>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>

    </div>

  </body>

</html>
