<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_head %>

  <body style="font-family: 'Quicksand', sans-serif;">

    <% include ./partials/_header %>

    <div class="container">

    <h2 class="mt-3">Your Short URLs</h2>

    <!-- https://stackoverflow.com/questions/679915/how-do-i-test-for-an-empty-javascript-object -->
    <% if (Object.keys(urlDatabase).length === 0 && urlDatabase.constructor === Object) { %>

      <% if (!user) { %>
        <h2>You must <a href="/login">login</a> or <a href="/register">register</a> to shorten a URL!</h2>
      <% } else { %>
        <h2>You don't have any shortened URL's! <a href="/urls/new">Shorten</a> one now!</h2>
      <% } %>

    <% } else { %>

      <table class="table">
        <% for(let url in urlDatabase) { %>
          <tr>
            <td class="pt-3">
              <a target="_blank" href="/u/<%= url %>"><%= url %></a>
            </td>
            <td class="pt-3">
              <a href="<%= urlDatabase[url].longURL %>"><%= urlDatabase[url].longURL %></a>
            </td>
            <td class="pt-3">
              <a href=<%= `http://localhost:8080/urls/${url}` %>><i class="far fa-edit"></i> Edit</a>
            </td>
            <td>
              <form method="POST" action=<%= `/urls/${url}/delete` %>>
                <button class="btn btn-primary" type="submit">
                  Delete <i class="fas fa-trash-alt"></i>
                </button>
              </form>
            </td>
          </tr>
        <% } %>
      </table>

      <a href="/urls/new">Shorten a URL</a>

    <% } %>

    </div> <!-- .container -->

  </body>

</html>
